* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
}

:root {
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border-radius: 8px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
}

button:disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
}